#appPhotos {
  height: 702px;
  width: 100%;
}

#container {
  margin-right: 200px;
  margin-left: 200px;

}
 #appReservations {
  width: 100%;
}

#overview {
  max-width: 648px;
  position: relative;
  left: 140px;
}

#appReservations * {
  box-sizing: border-box;
}

#reviewIndex {
  margin-left: 10%;
} 
